#photos{float:right;overflow: auto;}
#article{font-family:"Book Antiqua";font-size:13px}/*Css change 1 &2*/
h5 {font-family:"Book Antiqua";font-size:13px;font-weight:bold;}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
